/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.calculator .table{
    background: #ffffff;
}

.custom-select{
    border: none;
}

.form-control-border-none{
    border: none;
}

.btn-primary[type='submit'] {
    background-color: #007bff;
}

.btn-danger[type='submit'] {
    background-color: #dc3545;
}

.table-bordered .background{
    border-left-width:  0px;
    border-right-width: 0px;
    background: #f4f6f9;
}

.table td, .table th {
    padding: 0.5rem;
}

.h1, h1 {
    font-size: 1.5rem;
}

.form-group-my .input-group{
    margin-bottom: 0.5rem;
}

.input-group-text-my{
    background-color: #fff;
    border: none;
}

.input-group-text-my .custom-radio .custom-control-label::before {
     border-radius: 0;
}

.input-group-text-my .custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.date.align-baseline.fs-3{
    font-size: 1.5rem;
}

@media print {
    .btn.btn-primary{
        display:none;
    }
}
